@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'; 
/* font-family:fredoka one,cursive;  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./background-image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#main-title {
    font-family: fredoka one,cursive;
    padding: 50px;
}

#main-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choose-attack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#attack-buttons button{
    font-family: 'Roboto Mono', monospace;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset-section {
    display: flex;
    justify-content: center;
}

#reset-button {
    font-family: 'Roboto Mono', monospace;
}
