@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'; 
/* font-family:fredoka one,cursive;  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./assets/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    backdrop-filter: blur(12px);
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    margin: 150px auto;
    width: 50%;
}

#main-elements {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: fredoka one,cursive;
}

#main-title {
    font-family: fredoka one,cursive;
    padding: 20px 0px 35px 0px;
    font-size: 5.8rem;
}

#main-elements h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
}

.welcome{
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    border: solid transparent 3px;
    border-radius: 25px;
    padding: 24px;
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.942);
    color: black;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
}

#ready{
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

#next-button {
    border-radius: 20px;
    border: transparent;
    font-family: 'Roboto Mono', monospace;
    margin: 10px 0px 20px 0px;
    width: 120px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
}

#next-button:hover {
    background-color: rgba(0, 0, 0, 0.592);
    color: white; 
}

#choose-attack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choose-attack h2{
    font-size: 3.2rem;
    padding: 18px 0px;
}

#attack-buttons button{
    background-color: aliceblue;
    border-color: transparent;
    border-radius: 20px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    width: 180px;
    height: 40px;
}

#attack-buttons {
    display: flex;
    gap: 10px;
    padding-bottom: 18px; 
}

#messages {
    width: 40%;
    background-color: aliceblue;
    color: black;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    font-family:fredoka one,cursive; 
}

#reset-button {
    color: black;
    background-color: transparent;
    border: none;
    font-family: 'Roboto Mono', monospace;
    margin-top: 14px;
}

#attacks {
    display: grid;
    grid-template-columns: 100px 100px;
    place-items: center;
    font-family:fredoka one,cursive;
    font-size: 1.6rem; 
}

.player-attack, .enemy-attack {
    display: flex;
    flex-direction: column;
    align-items: center;
}