@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'; 
/* font-family:fredoka one,cursive;  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./assets/pexels-lucie-liz-3165335.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    backdrop-filter: blur(18px);
    /* border: none;
    border-radius: 2rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); */
    margin: 150px auto;
    width: 50%;
}

#main-elements {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: fredoka one,cursive;
}

#main-title {
    font-family: fredoka one,cursive;
    padding: 18px 0px;
    font-size: 5.8rem;
}

#main-elements h2 {
    font-size: 3.2rem;
}

#choose-attack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choose-attack h2{
    font-size: 3.2rem;
    padding: 18px 0px;
}

#life-counter {
    padding-bottom: 18px;
}

#attack-buttons button{
    background-color: aliceblue;
    border-color: transparent;
    border-radius: 20px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    width: 180px;
    height: 40px;
}

#attack-buttons {
    padding-bottom: 18px; 
}

#messages {
    width: 40%;
    background-color: aliceblue;
    color: black;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    font-family:fredoka one,cursive; 
}

#reset-button {
    color: black;
    background-color: transparent;
    border: none;
    font-family: 'Roboto Mono', monospace;
    margin-top: 14px;
}